/*Responsividade*/

@media (max-width: 475.98px) {
	
    div#topo {
        background: url('../img/setup.jpg') ;
        background-size: cover;
        height: 550px;
    }

    div#textos {
        background-color: rgb(0, 0, 0, .1);
        padding: 30px;
        border-radius: 15px;
    }

    h2.h2-topo{
        font-family: 'beach';
        margin-top: 45px;
        font-size: 3em; 
        color: white;
        text-shadow: 0 0 0.8em cyan;
    }

    a.a_home_nav {
        font-size: 1.7em;
        font-family: beach;
        color: rgb(255, 255, 255);
        font-style: italic;
        text-shadow: 0 0 0.8em cyan;
    }

    h3.h3-intro {
        color: darkred;
        font-size: 5em;
        text-shadow: 0 0 0.7em red;
        font-family: 'neutron';
        letter-spacing: 10px;
        margin-top: 10px;
        
    }
    
    h4.h4-intro {
        color: darkgreen;
        font-size: 3.8em;
        text-shadow: 0 0 0.3em green;
        font-family: 'neutron';
        margin-left: -5%;
        margin-top: -10px;
    }

    h2.h2-montagem {
        font-family: one;
        color: aliceblue;
        text-shadow: 0 0 1em purple;
        font-size: 3em;
    }

    p.p-montagem {
        font-size: 1.4em;
        color: aliceblue;
        font-family: beach;
        background-color: rgb(0, 0, 0, .8);
        padding: 10px;
        border-radius: 4px;
    }

}

@media (min-width: 475.99px) and (max-width: 575.98px) {
    h3.h3-intro {
        color: darkred;
        font-size: 6em;
        text-shadow: 0 0 0.7em red;
        font-family: 'neutron';
        letter-spacing: 10px;
        margin-top: 10px;
        
    }
    
    h4.h4-intro {
        color: darkgreen;
        font-size: 4em;
        text-shadow: 0 0 0.3em green;
        font-family: 'neutron';
        margin-left: -5%;
        margin-top: -10px;
    }

    h2.h2-montagem {
        font-family: one;
        color: aliceblue;
        text-shadow: 0 0 1em purple;
        font-size: 3em;
    }

    p.p-montagem {
        font-size: 1.6em;
        color: aliceblue;
        font-family: beach;
        background-color: rgb(0, 0, 0, .8);
        padding: 10px;
        border-radius: 4px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    h2.h2-montagem {
        font-family: one;
        color: aliceblue;
        text-shadow: 0 0 1em purple;
        font-size: 3em;
    }

    p.p-montagem {
        font-size: 1.6em;
        color: aliceblue;
        font-family: beach;
        background-color: rgb(0, 0, 0, .8);
        padding: 10px;
        border-radius: 4px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    h2.h2-montagem {
        font-family: one;
        color: aliceblue;
        text-shadow: 0 0 1em purple;
        font-size: 3em;
    }

    p.p-montagem {
        font-size: 1.6em;
        color: aliceblue;
        font-family: beach;
        background-color: rgb(0, 0, 0, .8);
        padding: 10px;
        border-radius: 4px;
    }
}


/* Formatações gerais  */

@font-face {
	font-family: neutron;
	src: url('../fonts/neutron.woff');
}

@font-face {
	font-family: beach;
	src: url('../fonts/beach.woff');
}

@font-face {
	font-family: one;
	src: url('../fonts/one.woff');
}

body {
    --bs-body-bg: black ;
}

.bg-nav-custom {
	background: rgb(0, 0, 0, .6);
}

/*  Topo  */

#topo {
    background: url('../img/setup.jpg') ;
    background-size: cover;
    height: 850px;
}

#conteudo-topo {
    display: none;
}


.h2-topo{
    font-family: 'beach';
    font-size: 5em; 
    color: white;
    text-shadow: 0 0 0.8em cyan;
}

#textos {
    background-color: rgb(0, 0, 0, .8);
    padding: 30px;
    border-radius: 15px;
}

.h3-intro {
    color: darkred;
    font-size: 7em;
    text-shadow: 0 0 0.7em red;
    font-family: 'neutron';
    letter-spacing: 10px;
   
}

.h4-intro {
    color: darkgreen;
    font-size: 4em;
    text-shadow: 0 0 0.3em green;
    font-family: 'neutron';
    margin-left: -5%;
  
}

.a_home_nav {
    font-size: 2em;
    font-family: beach;
    color: rgb(255, 255, 255);
    font-style: italic;
    text-shadow: 0 0 0.8em cyan;
}

a {
    text-decoration: none !important;
    color:rgb(255, 255, 255) !important;
}


.label-formulario {
    background-color: darkred;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    color: white;
    border-radius: 10px;
    font-size: 1.1em;
    font-family: 'one';
    font-style: italic;
    letter-spacing: 1px;
}


.teste {
    background: url('../img/pc3.jpg') ;
    background-size: cover;
}

.h2-montagem {
    font-family: one;
    color: aliceblue;
    text-shadow: 0 0 1em purple;
    font-size: 5em;
}

.fundo {
    background: url('../img/teste3.jpg') ;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 4px double purple;
    border-top: 4px double purple;
   
}

.p-montagem {
    font-size: 2em;
    color: aliceblue;
    font-family: beach;
}



.montagem {
    background-color: rgb(0, 0, 0, .8);
    border-radius: 10px;
}

.js .anime {
	opacity: 0;
	transform: translate3D(-50px, 0px, 0px);
}

.js .anime-init {
	opacity: 1;
	transform: translate3D(0px, 0px, 0px);
	transition: .3s all ease;
}