/*Responsividade*/

@media (max-width: 475.98px) {
	div.fundo-logo {
		background: url('../img/setup.jpg');
		background-attachment: fixed;
		background-size: cover;	
		height: 400px;
	}

	img.img {
		width: 350px;
	}

	h2.h2-carousel {
		font-size: 2em;
		font-weight: bolder;
		font-family: beach;
		text-shadow: 0 0 0.8em cyan;
	}

	h3.h3-carousel {
		font-size: 1.2em;
		font-weight: 400;
		font-family: one;
		text-shadow: 0 0 1em cyan;
	}

	button.btn-lg {
		font-size: 1rem !important;
		font-family: beach;
	}

	div.img-carousel, div.img-carousel-2 {
		height: 450px;
	}

	section#carousel {
		border: 7px double cyan;
		border-left: none;
		border-right: none;
		box-shadow: none;		
	}

	iframe.video {
		height: 300px;
	}

	p.p-suporte {
		font-size: 1em;
		padding: 5px;
		font-family: one;
		margin-top: 30px;
		text-shadow: 0 0 1em purple;
	}



}

@media (min-width: 475.99px) and (max-width: 575.98px) {

}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

/*Formatações Gerais*/

@font-face {
	font-family: neutron;
	src: url('../fonts/neutron.woff');
}

@font-face {
	font-family: beach;
	src: url('../fonts/beach.woff');
}

@font-face {
	font-family: one;
	src: url('../fonts/one.woff');
}

body {
	margin: 0;
	background-color: black !important; 
	--bs-body-color: black !important;
}

/*Topo*/

.nav-link {
	font-family: one;
	font-size: 1.1em;
	color: lightgray !important;
}

.nav-link:hover {
	color: white !important;
}

.bg-nav-custom {
	background: rgb(0, 0, 0, .8);
}

#btn-login {
	padding: 8px;
	margin: 10px;
	font-size: 1.1em;
	font-family: one;
	width: 200px;
	border-radius: 15px !important;
	color: lightcyan;
	box-shadow: 0 0 1em red;
}

.fundo-logo {
	background: url('../img/setup.jpg');
	background-attachment: fixed;
	background-size: cover;	
	height: 750px;
}

.logo {
	background-color: rgb(0, 0, 0, .7);
	border-radius: 10px;
	box-shadow: 5px 5px 1em white;
}

.img {
	width: 850px;
}		

/*Carousel*/

.img-carousel {
	background: url('../img/setup4.jpg');
}

.img-carousel-2 {
	background: url('../img/setup3.jpg');	
}

.img-carousel, .img-carousel-2 {
	background-size: cover;	
	height: 800px;
}

.btn-lg {
	font-size: 1.7rem !important;
	font-family: beach;
}

.h2-carousel {
	font-size: 5.2em;
	font-weight: bolder;
	font-family: beach;
	text-shadow: 0 0 0.8em cyan;
}

.h3-carousel {
	font-size: 2.2em;
	font-weight: 400;
	font-family: one;
	text-shadow: 0 0 1em cyan;
}

#carousel {
	border: 7px double cyan;
	border-left: none;
	border-right: none;
}

/*Video Principal*/

.h2-video {
	font-family: one;
	font-size: 3em;
	font-weight: 600;
	font-style: italic;
	text-shadow: 0 0 0.2em purple;
}

#video {
	background: url('../img/bg1.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.video {
	height: 500px;
}

/*Suporte*/

#suporte {
	background: url('../img/bg10.jpg');
	background-size: cover;
	background-position: center;
}

.icon {
	font-size: 4em;
	text-shadow: 0 0 1em cyan;
}

.p-suporte {
	font-size: 1.8em;
	font-family: one;
	margin-top: 30px;
	text-shadow: 0 0 1em purple;
}

/*Feedback*/

#feedback {
	background: url('../img/bg1.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#feedback h2 {
	font-family:  Noto Sans, sans-serif;
	font-size: 3em;
	font-weight: 600;
	font-style: italic;
	text-shadow: 0 0 1em cyan;
}

.foto-perfil {			
	height: 80px;
	width: 80px;
	border-radius: 100px;
}

.borda {
	border:  3px solid cyan;
    border-radius: 5px;
    box-shadow: 0 0 1em cyan;
    height: 400px;
    width: 100%;
    background-color: rgb(0, 0, 0, .7);
}

/*Rodape*/

#rodape {
    box-shadow: 0 -7px 1em cyan;
	background: rgb(0, 0, 0, 0.8);
}
