/*Responsividade*/

@media (max-width: 475.98px) {

	body {
		margin-right: -12px !important; 
	}

	img.foto-review {
		position: relative;
		top: 30px;
	}

	p.nome-review {
		margin-top: 25px;
	}

	div.logo {
		margin-top: 50px !important;
	}

	a.btn-size {
		font-size: 1em !important;
	}

	p.p-video {
		font-size: 1.1em;
		color: white;
		font-family: roboto;
		margin-top: 10px;
	}

	p.p-sobre-nos {
		font-size: 1em;
		color: white;
		font-family: roboto;
		margin-top: 10px;
		border-radius: 20px;
		padding: 15px;
	}
	
	h2.h2-sobre-nos {
		font-family: one;
		font-size: 2.5em;
		font-weight: 600;
		font-style: italic;
	}

	iframe.borda {
		border: none !important;
		box-shadow: none !important;
		border-radius: 10px;
		height: 200px;
		width: 100%;
		background-color: rgb(0, 0, 0, .7);
	}

	div.fundo-logo {
		background: url('../img/geral/setup.jpg');
		background-attachment: fixed;
		background-size: cover;	
		height: 350px;
	}

	img.img {
		width: 310px;
	}

	h2.h2-carousel {
		font-size: 2em;
		font-weight: bolder;
		font-family: one;
	}

	button.carousel-btn {
		--bs-btn-font-size: 1rem !important;
		--bs-btn-font-family: one !important;
	}

	h3.h3-carousel {
		font-size: 1.2em;
		font-weight: 400;
		font-family: roboto;
		padding: 10px;
	}

	button.btn-lg {
		font-size: 1rem !important;
		font-family: beach;
	}

	div.img-carousel, div.img-carousel-2 {
		height: 380px;
	}

	section#carousel {
		border: 7px double red;
		border-left: none;
		border-right: none;
		box-shadow: none;		
	}

	iframe.video {
		height: 200px;
	}

	p.p-suporte {
		font-size: 1.4em;
		padding: 5px;
		font-family: roboto;
		margin-top: 5px;
	}

	ul.nav-rodape {
		flex-direction: row !important;
		justify-content: center !important;
	}

	li.nav-item {
		padding: 10px !important;
	}

	h2.h2-duvida {
		font-size: 3em;
		color: lightgray;
		font-family: one;
	}
	
	h3.h3-duvida {
		font-size: 2em;
		color: lightgray;
		font-family: one;
		margin-top: 10px;
	}

	h2.h2-feedback {
		font-family:  one;
		font-size: 3em;
		font-weight: 600;
		font-style: italic;
	}

	h2.h2-video {
		font-family: one;
		font-size: 1.8em;
		font-weight: 600;
		font-style: italic;
	}

}

@media (min-width: 475.99px) and (max-width: 575.98px) {

	a.btn-size {
		font-size: 1em !important;
	}

	img.foto-review {
		position: relative;
		top: 30px;
	}

	p.nome-review {
		margin-top: 25px;
	}

	p.p-sobre-nos {
		font-size: 1.3em;
		color: white;
		font-family: roboto;
		margin-top: 10px;
		padding: 15px;
	}
	
	h2.h2-sobre-nos {
		font-family: one;
		font-size: 2.8em;
		font-weight: 600;
		font-style: italic;
	}

	iframe.borda {
		border: none !important;
		box-shadow: none !important;
		border-radius: 10px;
		height: 200px;
		width: 100%;
		background-color: rgb(0, 0, 0, .7);
	}

	h2.h2-carousel {
		font-size: 2em;
		font-weight: bolder;
		font-family: one;
	}

	ul.nav-rodape {
		flex-direction: row !important;
		justify-content: center !important;
	}

	li.nav-item {
		padding: 10px !important;
	}

	div.fundo-logo {
		background: url('../img/geral/setup.jpg');
		background-attachment: fixed;
		background-size: cover;	
		height: 350px;
	}

	img.img {
		width: 360px;
	}

	button.carousel-btn {
		--bs-btn-font-size: 1rem !important;
		--bs-btn-font-family: one !important;
	}

	h3.h3-carousel {
		font-size: 1.2em;
		font-weight: 400;
		font-family: one;
	}

	button.btn-lg {
		font-size: 1rem !important;
		font-family: beach;
	}

	div.img-carousel, div.img-carousel-2 {
		height: 380px;
	}

	section#carousel {
		border: 7px double red;
		border-left: none;
		border-right: none;
		box-shadow: none;		
	}

	iframe.video {
		height: 300px;
	}

	p.p-suporte {
		font-size: 1.3em;
		padding: 5px;
		font-family: roboto;
		margin-top: 5px;
	}

	h2.h2-duvida {
		font-size: 3em;
		color: lightgray;
		font-family: one;
	}
	
	h3.h3-duvida {
		font-size: 2em;
		color: lightgray;
		font-family: one;
		margin-top: 10px;
	}

	h2.h2-feedback {
		font-family:  one;
		font-size: 2.5em;
		font-weight: 600;
		font-style: italic;
	}

	h2.h2-video {
		font-family: one;
		font-size: 1.5em;
		font-weight: 600;
		font-style: italic;
	}

	p.p-video {
		font-size: 1.1em;
		color: white;
		font-family: roboto;
		margin-top: 10px;
	}

}

@media (min-width: 576px) and (max-width: 767.98px) {
	
	a.btn-size {
		font-size: 1.3em !important;
	}


	p.p-sobre-nos {
		font-size: 1.5em;
		color: white;
		font-family: roboto;
		margin-top: 10px;
		padding: 15px;
	}
	
	h2.h2-sobre-nos {
		font-family: one;
		font-size: 3em;
		font-weight: 600;
		font-style: italic;
	}

	iframe.borda {
		border: none !important;
		box-shadow: none !important;
		border-radius: 10px;
		height: 200px;
		width: 100%;
		background-color: rgb(0, 0, 0, .7);
	}

	h2.h2-carousel {
		font-size: 3em;
		font-weight: bolder;
		font-family: one;
	}

	ul.nav-rodape {
		flex-direction: row !important;
		justify-content: center !important;
	}

	li.nav-item {
		padding: 10px !important;
	}

	div.fundo-logo {
		background: url('../img/geral/setup.jpg');
		background-attachment: fixed;
		background-size: cover;	
		height: 350px;
	}

	img.img {
		width: 380px;
	}

	button.carousel-btn {
		--bs-btn-font-size: 1rem !important;
		--bs-btn-font-family: one !important;
	}

	h3.h3-carousel {
		font-size: 1.6em;
		font-weight: 400;
		font-family: one;
	}

	button.btn-lg {
		font-size: 1rem !important;
		font-family: beach;
	}

	div.img-carousel, div.img-carousel-2 {
		height: 380px;
	}

	section#carousel {
		border: 7px double red;
		border-left: none;
		border-right: none;
		box-shadow: none;		
	}

	iframe.video {
		height: 300px;
	}

	p.p-suporte {
		font-size: 1.6em;
		padding: 5px;
		font-family: one;
		margin-top: 5px;
	}

	h2.h2-duvida {
		font-size: 3.2em;
		color: lightgray;
		font-family: one;
	}
	
	h3.h3-duvida {
		font-size: 2.2em;
		color: lightgray;
		font-family: one;
		margin-top: 10px;
	}

	h2.h2-feedback {
		font-family:  one;
		font-size: 3em;
		font-weight: 600;
		font-style: italic;
	}

	h2.h2-video {
		font-family: one;
		font-size: 1.7em;
		font-weight: 600;
		font-style: italic;
	}

	p.p-video {
		font-size: 1.3em;
		color: white;
		font-family: roboto;
		margin-top: 10px;
	}


}

@media (min-width: 768px) and (max-width: 991.98px) {

	p.p-sobre-nos {
		font-size: 1.3em !important;
		color: white;
		font-family: roboto;
		margin-top: 10px;
		padding: 15px;
	}
	
	h2.h2-sobre-nos {
		font-family: one;
		font-size: 1.8em;
		font-weight: 600;
		font-style: italic;
		
	}

	h2.h2-feedback {
		font-size: 3em;
	}


	h2.h2-carousel {
		font-size: 3em;
		font-weight: bolder;
		font-family: one;
		
	}

	ul.nav-rodape {
		flex-direction: row !important;
		justify-content: center !important;
	}

	li.nav-item {
		padding: 10px !important;
	}

	div.fundo-logo {
		background: url('../img/geral/setup.jpg');
		background-attachment: fixed;
		background-size: cover;	
		height: 350px;
	}

	img.img {
		width: 480px;
	}

	button.carousel-btn {
		--bs-btn-font-size: 1rem !important;
		--bs-btn-font-family: one !important;
	}

	h3.h3-carousel {
		font-size: 1.6em;
		font-weight: 400;
		font-family: one;
	}

	button.btn-lg {
		font-size: 1rem !important;
		font-family: beach;
	}

	div.img-carousel, div.img-carousel-2 {
		height: 380px;
	}

	section#carousel {
		border: 7px double red;
		border-left: none;
		border-right: none;
		box-shadow: none;		
	}

	iframe.video {
		height: 300px;
	}

	p.p-suporte {
		font-size: 1.6em;
		padding: 5px;
		font-family: roboto;
		margin-top: 30px;
	}

	h2.h2-duvida {
		font-size: 3.2em;
		color: lightgray;
		font-family: one;
	}
	
	h3.h3-duvida {
		font-size: 2.2em;
		color: lightgray;
		font-family: one;
	}

	h2.h2-video {
		font-family: one;
		font-size: 1.7em;
		font-weight: 600;
		font-style: italic;
	}

	p.p-video {
		font-size: 1.3em;
		color: white;
		font-family: roboto;
		margin-top: 10px;
	}
}

/*Formatações Gerais*/

@font-face {
	font-family: neutron;
	src: url('../fonts/neutron.woff');
}

@font-face {
	font-family: beach;
	src: url('../fonts/beach.woff');
}

@font-face {
	font-family: one;
	src: url('../fonts/one.woff');
}

@font-face {
	font-family: roboto;
	src: url('../fonts/roboto.woff');
}

@keyframes translatex {
	0% {
		transform: translateX(-50px);
	}
	
	100% {
		transform: translateX(0px);
	}
}

@keyframes opacidade {
	0% {
		opacity: 0;;
	}
	
	100% {
		opacity: 1;
	}
}

body {
	margin: 0;
	background-color: black !important; 
	--bs-body-color: black !important;
}

.container-fluid {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

/*Topo*/

.nav-link {
	font-family: one;
	font-size: 1.1em;
	color: lightgray !important;
}

.nav-link:hover {
	color: white !important;
	transition: 1s;
}

.bg-nav-custom {
	background: rgb(0, 0, 0, .9);
}

#btn-login {
	padding: 8px;
	margin: 10px;
	font-size: 1.1em;
	font-family: one;
	width: 200px;
	border-radius: 15px !important;
	color: lightcyan;
	box-shadow: 0 0 1em red;
}

.fundo-logo {
	background: url('../img/geral/setup.jpg');
	background-size: cover;	
	height: 600px;
	animation: 2s translatex forwards;
	
}

.logo {
	background-color: rgb(0, 0, 0, .7);
	transition: 1s;
	border-radius: 10px;
	box-shadow: 0 0 1em white;
}

.img {
	width: 750px;
	transition: 1s;
	animation: 2s opacidade forwards;
}	

.img:hover, .logo:hover {
	transform: scale(1.1);
	padding: 15px;
}

/*Carousel*/

.img-carousel {
	background-image: linear-gradient(
		to right bottom,
		rgb(0,0,0, 0.9),
		rgba(49, 49, 49, 0.4)
	  ), url('../img/index/setup4.jpg');
}

.img-carousel-2 {
	background-image: linear-gradient(
		to right bottom,
		rgb(0,0,0, 0.9),
		rgba(49, 49, 49, 0.4)
	  ), url('../img/index/setup3.jpg');
}

.img-carousel, .img-carousel-2 {
	background-size: cover;	
	height: 630px;
}

.carousel-btn {
	--bs-btn-font-size: 1.8rem !important;
	--bs-btn-font-family: one !important;
}

.h2-carousel {
	font-size: 5.2em;
	font-weight: bolder;
	padding: 25px;
	font-family: one;
}

.h3-carousel {
	font-size: 2em;
	font-weight: 400;
	font-family: roboto;
	text-transform: uppercase;
}

#carousel {
	border: 5px double red;
	border-left: none;
	border-right: none;
}

/*Video Principal*/

.js .anime {
	opacity: 0;
	transform: translate3D(-50px, 0px, 0px);
}

.js .anime-init {
	opacity: 1;
	transform: translate3D(0px, 0px, 0px);
	transition: .3s all ease;
}

.h2-video {
	font-family: one;
	font-size: 3em;
	font-weight: 600;
	font-style: italic;
}

#video {
	background-image: linear-gradient(
		to right bottom,
		rgb(0,0,0, 0.9),
		rgba(15, 15, 15, 0.8)
	  ), url('../img/geral/setup.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 70px;
	padding-bottom: 70px;
}



.texto-video {
	border-radius: 20px;
	padding: 25px;
}

.p-video {
	font-size: 1.8em;
	color: white;
	font-family: roboto;
	margin-top: 10px;
}

/*Duvidas*/

#duvidas {
	background-image: linear-gradient(
		to right bottom,
		rgb(0,0,0, 0.9),
		rgba(15, 15, 15, 0.8)
	  ), url('../img/geral/setup.jpg');
	  background-position: top;
}

#garantia {
	margin: 15px;
	padding: 15px;
}

#duvida {
	margin: 15px;
	padding: 15px;
}

.h2-duvida {
	font-size: 4em;
	color: white;
	font-family: one;
	font-weight: 600;
	font-style: italic;
}

.h3-duvida {
	font-size: 3em;
	color: lightgray;
	font-family: one;
}

.icon {
	font-size: 4em;
}

.p-suporte {
	font-size: 1.8em;
	color: white;
	font-family: roboto;
	margin-top: 10px;
}

/*Review*/

#review {
	background-image: linear-gradient(
		to right bottom,
		rgb(0,0,0, 0.9),
		rgba(15, 15, 15, 0.8)
	  ), url('../img/index/bgteste1.jpg');
	background-size: cover;
	background-position: center;
}

.h2-feedback {
	font-family:  one;
	font-size: 5em;
	font-weight: 600;
	font-style: italic;
}

.foto-perfil {			
	height: 80px;
	width: 80px;
	border-radius: 100px;
}

.borda {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, .7);
}

.video-p {
	border-radius: 12px;
    height: 300px;
    width: 100%;
    background-color: rgb(0, 0, 0, .7);
}

/*Sobre nós*/

#sobreNos {
	background-image: linear-gradient(
		to right bottom,
		rgb(0,0,0, 0.9),
		rgba(15, 15, 15, 0.8)
	  ), url('../img/geral/setup.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.p-sobre-nos {
	font-size: 1.8em;
	color: white;
	font-family: roboto;
	margin-top: 10px;
	padding: 15px;
}

.h2-sobre-nos {
	font-family: one;
	font-size: 5em;
	font-weight: 600;
	font-style: italic;	
}

.btn-size {
	font-size: 1.7em !important;
}

.nav-rodape {
	flex-direction: row !important;
	justify-content: center !important;
}

.nav-item {
	padding: 8px !important;
}



.foto-review {
	border-radius: 200px;
	/*position: relative;
	bottom: 70px;*/
	border: 1px solid white;
}

.linha-review {
	color: white;
	border-top: 2px solid rgb(151, 151, 151);
}

.review {
	font-family: roboto;
}

.texto-review {

}

.review p {
	text-transform: uppercase;
	font-style: italic;
}


.py-6 {
	padding-top: 165px;
	padding-bottom: 165px;
}

.pt-6 {
	padding-top: 90px;
}

.nome-review {
	font-family: roboto;
	margin-top: 5px;
}

.desc-review {
	font-family: one;
}