/*Responsividade*/

@media (max-width: 475.98px) {
	
    div#home {
        color: white;
        position: absolute;
        top: 90%;
        left: 45%;
        background-color: rgb(0, 0, 0, .8);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 1em cyan;
        cursor: pointer;
    
    }
   

}

@media (min-width: 475.99px) and (max-width: 575.98px) {

}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

body {
    background: url('../img/bg20.jpg') ;
}

@font-face {
	font-family: neutron;
	src: url('../fonts/neutron.woff');
}

@font-face {
	font-family: beach;
	src: url('../fonts/beach.woff');
}

@font-face {
	font-family: one;
	src: url('../fonts/one.woff');
}

.bg-nav-custom {
	background: rgb(0, 0, 0, .6);
}

#container {
    background: rgb(0, 0, 0, .6);
    border-radius: 20px;
    padding: 30px;
}

.img-perfil {
    border-radius: 110px;
}

.nome-perfil {
    color: white;
    font-family: one;
}

.label-perfil{
    font-family: beach;
    color: aliceblue;
}

.label-form {
   
   
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 1.1em;
    font-family: 'one';
    font-style: italic;
    letter-spacing: 1px;
}

/*  Modal  */



#adicionaChamado {
    box-shadow: 0 0 1em red;
    background: rgb(0, 0, 0, .6);
    border-radius: 20px;
    padding: 30px;
}

#label-modal {
    font-family: one;
    font-size: 1.8em;
    font-weight: 600;
    font-style: italic;
}

.label-formulario {
    background-color: darkred;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    color: white;
    border-radius: 10px;
    font-size: 1.1em;
    font-family: 'one';
    font-style: italic;
    letter-spacing: 1px;
}


/*  Botão home  */


#home {
    color: white;
    position: absolute;
    top: 90%;
    left: 90%;
    background-color: rgb(0, 0, 0, .8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 1em cyan;
    cursor: pointer;

}

#home a {
    color: aliceblue;
}



.h2-montagem {
    font-family: beach;
    color: white;
    text-shadow: 0 0 1em purple;
    font-size: 3em;
}

.h4-montagem {
    font-family: beach;
    color: white;
    text-shadow: 0 0 1em cyan;
    letter-spacing: 2px;
}

.h3-montagem {
    font-family: one;
    color: white;
    text-shadow: 0 0 1em cyan;
    letter-spacing: 2px;
}

.label-montagem {
    font-family: one;
    color: white;
    font-size: 1.4em;
}

.p-montagem {
    color: white;
    font-size: 1.3em;
}

.p-final-montagem {
    font-family: one;
    font-size: 1.4em;
}